h1 {
  padding-top: 30px;
  padding-bottom: 30px;
}

body {
  background: #b5a099;
}


@media (min-width: 750px) {
  #home_title::before {
    content: "Welcome to "
  }
}
/* @media (max-width: 599px) {
  #mainpage::before {
    content: "Wow "
  }
} */



p {
  color: red;
}

#hugelkultur {
  font-size: 12;
  color: red;
}

#hugelkultur:hover {
  background:blue;
}

.project {
  font-size: 12;
  color: lightblue;
}

.border {
  border-style: solid;
  border-color: red;
} */


/* .container {
  display: flex;
  flex-wrap: wrap;
}

.container > div {
  font-size: 20px;
  margin: 20px;
  padding: 20px;
  /*width: 200px;*/

} */
