body {
  background: black;
}

h1 {
  color: white;
}

p {
  color: red;
}

#hugelkultur {
  font-size: 12;
  color: red;
}

#hugelkultur:hover {
  background:blue;
}

.project {
  font-size: 12;
  color: lightblue;
}

.border {
  border-style: solid;
  border-color: red;
}

@media (min-width: 600px) {
  #mainpage::before {
    content: "Welcome to "
  }
}
@media (max-width: 599px) {
  #mainpage::before {
    content: "Wow "
  }
}
